<ion-view title="ระดับน้ำตาลในเลือด" id="blsugar">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-balanced icon No Icon" ng-click="saveblsugar()"> บันทึก</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="blsugar-form7" class="list">
      <label class="item item-input" id="blsugar-input20">
        <span class="input-label">บันทึกวันที่</span>
        <input type="date" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input item-stacked-label" id="blsugar-input21">
        <span class="input-label">ค่าระดับน้ำตาล (มก./ดล.)</span>
        <input type="number" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <ion-radio id="blsugar-radio15">ก่อนอาหารเช้า</ion-radio>
      <ion-radio id="blsugar-radio16">ก่อนอาหารเที่ยง</ion-radio>
      <ion-radio id="blsugar-radio17">ก่อนอาหารเย็น</ion-radio>
      <ion-radio id="blsugar-radio17">ก่อนอาหารเย็น</ion-radio>
      <ion-radio id="blsugar-radio18">ก่อนนอน</ion-radio>
    </form>
  </ion-content>
</ion-view>