<ion-view title="เพิ่มรอบ" id="diary_r_add">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-balanced icon No Icon" ng-click="addround()"> บันทึก</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="diary_r_add-heading7" style="color:#000000;text-align:center;">รอบที่ 1</h1>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="diary_r_add-heading8" style="color:#000000;">ความเข้มข้นน้ำยาล้างไต</h4>
    <form id="diary_r_add-form13" class="list">
      <ion-radio id="diary_r_add-radio8" name="cc">1.5%</ion-radio>
      <ion-radio id="diary_r_add-radio9" name="cc">2.5%</ion-radio>
      <ion-radio id="diary_r_add-radio10" name="cc">4.25%</ion-radio>
    </form>
    <h4 id="diary_r_add-heading9" style="color:#000000;">น้ำยาเข้า</h4>
    <form id="diary_r_add-form14" class="list">
      <label class="item item-input" id="diary_r_add-input28" name="in_start">
        <span class="input-label">เริ่มเวลา</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="diary_r_add-input30" name="in_end">
        <span class="input-label">หมดเวลา</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="diary_r_add-input29" name="in_vol">
        <span class="input-label">ปริมาตรเข้า(มล.)</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <h4 id="diary_r_add-heading10" style="color:#000000;">น้ำยาออก</h4>
    <form id="diary_r_add-form15" class="list">
      <label class="item item-input" id="diary_r_add-input31" name="out_start">
        <span class="input-label">เริ่มเวลา</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="diary_r_add-input32" name="out_end">
        <span class="input-label">หมดเวลา</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="diary_r_add-input33" name="out_vol">
        <span class="input-label">ปริมาตรออก(มล.)</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>