<ion-view title="บันทึกประจำวัน" id="diary_d_add">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-balanced icon No Icon"> บันทึก</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="diary_d_add-form12" class="list">
      <h1 id="diary_d_add-heading5" style="color:#00953A;text-align:center;"> xx/xx/xxxx</h1>
      <h4 id="diary_d_add-heading6" style="color:#000000;text-align:center;">สรุปน้ำยาที่ค้างในร่างกายหรือน้ำยาที่ออกเกินต่อวัน (UF) : มล.</h4>
      <label class="item item-input" id="diary_d_add-input26">
        <span class="input-label">+</span>
        <input type="number" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <label class="item item-input" id="diary_d_add-input27">
        <span class="input-label">-</span>
        <input type="number" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>