<ion-view title="บันทึกประจำวัน(รอบ)" id="diary_round">
  <ion-content padding="true" class="has-header">
    <h1 id="diary_round-heading4" style="color:#00953A;text-align:center;">xx/xx/xxxx</h1>
    <ion-list id="diary_round-list11" class="manual-list-fullwidth">
      <ion-item id="diary_round-list-item35">รอบที่ 1 </ion-item>
      <ion-item id="diary_round-list-item36">รอบที่ 2 </ion-item>
      <ion-item id="diary_round-list-item37">รอบที่ 3</ion-item>
    </ion-list>
    <button id="diary_round-button35" style="color:#FFFFFF;" class="button button-balanced button-block">กดเพื่อเสร็จสิ้นการบันทึกประจำวัน</button>
  </ion-content>
</ion-view>