<ion-view title="ชีพจรและความดัน" id="heart">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-balanced icon No Icon" ng-click="saveheart()"> บันทึก</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="heart-form6" class="list">
      <label class="item item-input" id="heart-input12">
        <span class="input-label">บันทึกวันที่ </span>{{ currentDate | date: 'dd/MM/yyyy' }}
        <!--<input type="date" placeholder="">-->
      </label>
      <label class="item item-input" id="heart-input13">
        <span class="input-label">บันทึกเวลา </span>{{ currentDate | date: 'HH:mm' }} น.
        <!--<input type="time" placeholder="">-->
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input item-stacked-label" id="heart-input14">
        <span class="input-label">ความดันตัวบน(มม.ปรอท)</span>
        <input type="text" ng-model="bpInt.value" placeholder="" >
      </label>
      <label class="item item-input item-stacked-label" id="heart-input15">
        <span class="input-label">ความดันตัวล่าง(มม.ปรอท)</span>
        <input type="number" ng-model="bpLow.value" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="heart-input16">
        <span class="input-label">อัตราการเต้นหัวใจ(ครั้งต่อนาที)</span>
        <input type="number" ng-model="hrate.value" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="heart-input17">
        <span class="input-label">น้ำหนัก(กก.)</span>
        <input type="number" ng-model="weight.value" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <h4 id="heart-heading2" style="color:#185804;">บันทึกข้อมูลของเมื่อวาน</h4>
      <label class="item item-input item-stacked-label" id="heart-input18">
        <span class="input-label">ปริมาตรน้ำดื่ม(มล.)</span>
        <input type="number" ng-model="water.value" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="heart-input19">
        <span class="input-label">ปริมาตรปัสสาวะ(มล.)</span>
        <input type="number" ng-model="urine.value" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>