<ion-view title="คู่มือ" id="help">

  <ion-content padding="false" class="has-header" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" style="width:100%;height:;">
      <ion-slide-page style="background:url(&quot;img/howto1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;img/howto2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;img/howto3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;img/howto4.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;img/howto5.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>

    </ion-slides>
    </ion-content>
</ion-view>