<ion-view title="เข้าสู่ระบบ" id="login" style="background-color:#FAE8CD;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div>
      <img src="img/EEo7pkpQQ1WRW9fZlPw5_S_5507485888226.jpg" style="display: block; width: 80%; height: 80%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="login-list5">
      <label class="item item-input" id="login-input4" name="user">
        <span class="input-label">ชื่อผู้ใช้</span>
        <input type="text" placeholder="ชื่อผู้ใช้">
      </label>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <form id="login-form3" class="list">
      <label class="item item-input" id="login-input5" name="pass">
        <span class="input-label">รหัสผ่าน</span>
        <input type="password" placeholder="รหัสผ่าน">
      </label>
    </form>
    <a ui-sref="menu({ id: id})" id="login-button3" style="background-color: #FD821A;color:#000000;" class="button button-stable button-block icon ion-log-in bt_login"> เข้าสู่ระบบ</a>
  </ion-content>
</ion-view>