<ion-view title="เลือกรายการ" style="background-color:#FFF1E0;">

  <ion-content padding="true" class="has-header" scroll="false">
    <button class="button button-balanced icon ion-plus-circled bt_addmenu" style="float:right;"></button>

    <div class="row">
      <div class="col" ng-repeat="n in buttonRow1">
        <a style="display:block;" ui-sref="heart()">
          <img src="img/dIFJqsiZQ0ayUWSaFu46_S_5628419180894.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;max-width: 100px;">
        </a>
      </div>
      <div class="col">
        <a style="display:block;" ui-sref="blsugar()">
          <img src="img/FmVYDEiTm2jrUSDTrt8g_bs.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;max-width: 100px;">
        </a>
      </div>
      <div class="col">
        <a style="display:block;" ui-sref="egfr()">
          <img src="img/kLoqFvw9Rcijk2lpdaiw_S_5628416637045.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;max-width: 100px;">
        </a>
      </div>
    </div>

    <div class="row">
       <div class="col" ng-repeat="n in buttonRow2">
        <a style="display:block;" ui-sref="diary()">
          <img src="img/cCNNksmuTpSvGZSp8zmw_icon_dpd.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="col">
        <a style="display:block;" ui-sref="status()">
          <img src="img/jxgVy9wtQq2xx8KB3tWB_status_drug.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="col">
        <a style="display:block;" ui-sref="camera()">
          <img src="img/nCSG6GQvTgmBZNhcYBmj_wound_cam.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
    </div>

     <div class="row">
    <div class="col">
      <a style="display:block;" ui-sref="result()">
      <img src="img/JHqg9gFkQluzaraFVrj4_ckdresult-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="col">
      <a style="display:block;" ui-sref="help()">
      <img src="img/AFHSRosFQGSi4X5VTjyo_howtopng.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="col">
      
    </div>
    </div>
  </ion-content>
</ion-view>