<ion-view title="เลือกรายการ" style="background-color:#FFF1E0;">

  <ion-content padding="true" class="has-header" scroll="false">
    <!--<button class="button button-balanced icon ion-plus-circled bt_addmenu" style="float:right;"></button>-->

    <div class="row">
      <div class="col" ng-repeat="n in buttonRow[0]">
        <a style="display:block;" ng-click="menugo(n.ref)">
          <img src="{{n.src}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;max-width: 100px;">
        </a>
      </div>     
    </div>

    <div class="row">
       <div class="col" ng-repeat="n in buttonRow[1]">
        <a style="display:block;" ng-click="menugo(n.ref)">
          <img src="{{n.src}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;max-width: 100px;">
        </a>
      </div>
    
    </div>

     <div class="row">
    <div class="col" ng-repeat="n in buttonRow[2]">
      <a style="display:block;" ng-click="menugo(n.ref)">
      <img src="{{n.src}}" ng-if="!n.disable" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;max-width: 100px;">
      </a>
    </div>
    
    </div>
  </ion-content>
</ion-view>