<ion-view title="ประเภทผู้ใช้" id="type_p">
  <ion-content padding="true" class="has-header">
    <ion-list id="type_p-list6">
      <div>
        <ion-item class="item-thumbnail-left" id="1" ng-click="general()" style="background-color:#f2f2f2;">
          <img src="img/Wkp5kuLuTfmGrBkKHp7s_type1.jpg">
          <h2>บุคคลทั่วไป</h2>
        </ion-item>

        <ion-item class="item-thumbnail-left" id="2" ng-click="dmht()" style="background-color:#bfbfbf;">
          <img src="img/ATNBNlwQAaxlLuucsQpP_type2.jpg">
          <h3 style="color:#000;">เบาหวานหรือความดันโลหิตสูง</h3>
          <p style="color:#000;">DM &amp; HT</p>
        </ion-item>
<img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
        <ion-item class="item-thumbnail-left" id="3" ng-click="ckdhd()" style="background-color:#ff6600;">
          <img src="img/q4tnbBViSZKPs8u1GrCi_type3.jpg">
          <h2>โรคไตเรื้อรังหรือผู้ป่วยฟอกเลือด</h2>
          <p style="color:#000;">CKD &amp; HD</p>
        </ion-item>

        <ion-item class="item-thumbnail-left" id="4" ng-click="capd()" style="background-color:#00953a;">
          <img src="img/Dg862C61TUKbEMM9Qy8y_type4.jpg">
          <h2>ผู้ป่วยล้างไตทางช่องท้อง</h2>
          <p style="color:#000;">CAPD</p>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>